
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

li{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
.navbar{
   
   
    
    overflow: hidden;
    position: fixed;
    background-color: rgb(88, 88, 88);
    padding: 10px 10px;
    font-size: 10px;
    border: none;
    font-size: 17px;
    margin-left: 0px;
    width : 100%;

}

.navbar input[type=text]{
    float:right;
    padding: 20px;
    margin-top: 0px;
    margin-right:0px ;
    font-size: 15px;
}
.logo{
    float:left;
}

.menu{
    list-style-type: none;
    margin: 0px;
    padding: 30px 10px 0px 0px;
    overflow: hidden;
    background-color: rgb(88, 88, 88);
    float:left;
}

.active{
    background-color: blue;
}



body{
    background-color: #EEEEFF;
}
